[Desktop Entry]
Version=1.0
Type=Application
Name=Auto Resolution (Spice)
Comment=
Icon=preferences-desktop-display
Path=
Terminal=false
StartupNotify=false
Exec=/usr/local/bin/auto-resolution.sh
