[Desktop Entry]
Version=1.0
Type=Application
Name=Auto Resolution (Spice)
Comment=
Icon=preferences-desktop-display
Path=
Terminal=false
StartupNotify=false
Exec=/usr/local/bin/auto-resolution.sh
X-XFCE-Source=file:///usr/local/share/applications/Auto%20Resolution%20(Spice).desktop
